@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Lexend:wght@100..900&family=Magra:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-primary: rgba(12, 192, 223, 0.52);
    --color-light:#ffff;
    --color-secondary: rgb(42, 143, 143);
    --dark-color:           #171819;
    --about-bg-color:       #f9f9f9;

    --gray-color:           #909090;
    --link-color:           #404040;
    --p-color:              #666262;

    --base-font-family:     'Plain', sans-serif;
    --font-weight-bold:     bold;
    --font-weight-normal:   normal;
    --font-weight-light:    300;
    --font-weight-thin:     100;

    --h1-font-size:         48px;
    --h2-font-size:         36px;
    --h3-font-size:         28px;
    --h4-font-size:         24px;
    --h5-font-size:         22px;
    --h6-font-size:         22px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --menu-font-size:       14px;

    --border-radius-large:  100%;
    --border-radius-small:  2px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
    width: 3px;
    height:3px;
}

::-webkit-scrollbar-track {
    background: #333333;
}

::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}
:root {
    --gray: #34495e;
    --darkgray: #2c3e50;
}

/*---------------------------------------
   MODAL
-----------------------------------------*/

.modal-content {
    padding: 2rem 3rem;
}

.modal-header,
.modal-body,
.modal-footer {
    border: 0;
    padding: 0;
}

.membership-form a {
    color: var(--color-primary);
}


/*---------------------------------------
  FEATURE
-----------------------------------------*/

.feature {
    background: var(--dark-color);
    padding: 5rem 0;
}


body{
    width: 100%;
    height: 100vh;
    background: rgb(237, 237, 237);
}
header{
    width: 100%;
    display: flex;
    background: var(--color-secondary);
    padding-left: 20px;
}
.logo{
    width: 60px;
    padding: 10px;
}
.logo > img {
    width: 100%;
}
.header-controls{
    display: flex;
    width: 90%;
    justify-content: space-around;
}
.controls-1{
    display: flex;
    width: 28%;
}
.controls-1 > button , .controls-3 > button{
    color: var(--color-light);
    font-size: 18px;
    padding: 0 15px;
    padding-top: 5px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: transparent;
    border: none;
    margin:2px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}
.controls-1 > button > span , .controls-3 > button > span{
    font-size: 11px;
}
.controls-1 > button:hover , .controls-3 > button:hover{
    color: var(--color-secondary);
    background: var(--color-light);
}

.controls-2{
    display: flex;
    width: 28%;
    align-items: center;
}
.controls-3{
    display: flex;
    width: 28%;
    justify-content: end;
}

select {
    appearance: none;
    outline: 10px red;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: var(--color-light);
    border: 2px solid var(--color-light);
    background: transparent;
    cursor: pointer;
    border-radius: 12px;
}

select:focus,
select:active {
    color: var(--color-secondary);
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 16em;
    height: 3em;
    border-radius: 12px;
    overflow: hidden;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    color: var(--color-light);
    transition: .25s all ease;
    pointer-events: none;
}

a {
    font-weight: bold;
    color: var(--gray);
    text-decoration: drop-shadow;
    padding: .25em;
    border-radius: .50em;
    background: pink;
}

.container {
    position : absolute;
    top: 50%;
    left : 50%;
    transform : translate(-50%,-50%);
}

.main{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: start;
    padding: 20px;
    justify-content: space-between;
}
.main-left{
    width: 15%;
    display: flex;
    justify-content: end;
}
.main-left-menu{
    width: 100px;
    background: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 10px;
    position: relative;
    padding: 5px;
    padding-bottom: 20px;
}
.main-left-menu > button{
    background: transparent;
    font-size: 20px;
    color: var(--dark-color);
    padding: 10px 20px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-left-menu > button > span{
    font-size: 9px;
    font-weight: 600;
}
.border-menu{
    width: 90%;
    height: 90px;
    border: 2px solid var(--color-primary);
    background:  rgba(12, 192, 223, 0.33);
    border-radius: 8px;
    position: absolute;
    top: 5px;
}
.main-right{
    padding: 5px;
    overflow: auto;
    height: 500px;
}
.main-right-wrapper{
    width: 95%;
    overflow-y: auto;
}
.header-main{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.header-main > h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-color);
    padding: 0 10px;
}
.user-main{
    display: flex;
    align-items: center;

}
.user-main > p{
    font-size: 13px;
    font-weight: 400;
    color: var(--dark-color);
    padding-top: 10px;
}
.user-main > p > span {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-secondary);
}

.pic-user{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--gray-color);
    padding: 3px;
    margin: 0 5px;
}
.pic-user > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.search-main{
    width: 100%;
    padding: 20px 5px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.search-main > form{
    display: flex;
    align-items: center;
}
.group > label{
    font-size: 14px;
    color: var(--gray-color);
}
.group > input {
    padding: 12px ;
    outline: none;
    background: var(--color-light);
    border-radius: 12px;
    border: 1px solid var(--dark-color);
}
.search-main > form > button{
    padding: 10px 15px;
    border-radius: 100%;
    color: var(--color-secondary);
    background: var(--color-light);
    border: none;
    outline: none;
    margin: 30px 5px 0 7px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .4s;
}
.search-main > form > button:hover{
    background: var(--color-secondary);
    color: var(--color-light);
}
.all-projects{
    width: 100%;
    min-height: 1000px;
    max-height: 1300px;
    background: var(--color-light);
    border-radius: 8px;
    margin: 5px auto;
    position: relative;
}
.all-projects-header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.all-projects-header > p{
    padding-top: 5px;
}
.projects{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin: 3px auto;
}
.card-project{
    width: 32%;
    border: 1px solid ;
    margin: 5px;
    border-radius: 8px;
}
.img-project{
    width: 100%;
    height: 220px;
    background: url("../images/imgpp.jpg") no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: start;
}
.img-project > p{
    font-size: 12px;
    display: flex;
    width: 40%;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
}
.img-project > p > span{
    padding: 5px 10px ;
    color: white;
    border-radius: 3px;
    background: rgba(23, 26, 29, 0.34);
    backdrop-filter: blur(6px);
    border-left: 8px solid var(--color-secondary);
    margin: 2px;
}
.content-project{
    padding: 20px;
}
.content-project > h2 {
    font-size: 20px;
    font-weight: 600;
}
.content-project > p{
    font-size: 14px;
    color: var(--dark-color);
    font-weight: 400;
    text-align: justify;
}
.pagination{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination > li > a{
    background: var(--gray-color);
    padding: 7px;
    margin: 2px;
    color: var(--color-light);
    text-decoration: none;
    border-radius: 3px;
    transition: .5s;
}
.pagination > li > a:hover{
   background: var(--color-secondary);
}
.project_btn{
    border: 2px solid var(--color-secondary);
    border-radius: 8px;
    padding: 5px;
    background: transparent;
    color: var(--color-secondary);
    font-size: 8px;
    cursor: pointer;
    transition: .5s;
}
.project_btn:hover{
    background: var(--color-secondary);
    color: var(--color-light);
}
.project_btn > span{
    padding-top: 5px;
}
#formAdd > input{
    border: 2px solid var(--color-secondary);
    border-radius: 8px;
    padding: 25px 10px;
    margin: 5px;
}
#formAdd > textarea {
    border: 2px solid var(--color-secondary);
    margin-left: 5px;
    margin-bottom: 5px;
}
#formAdd > button{
    color: var(--color-secondary);
    padding: 5px 10px;
    width: 50%;
    margin: 0 auto;
}
#accountT{
    padding: 5px 0 ;
    color: var(--color-secondary);
}
#account-info > p{
    color: var(--darkgray);
}
#account-info > p > span{
    color: var(--color-secondary);
}