<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="style.css" />
    <title>Home Build</title>
</head>
<body>

<header>
    <div class="contact1">
        <div class="email">
            <i class="fa-solid fa-envelope"></i>
            <p>ou.charafi@gmail.com</p>
        </div>
        <div class="phone">
            <i class="fa-solid fa-phone"></i>
            <p>(+212) 628532671</p>
        </div>
        <div class="workTime">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Sun-Sat 9:45 am</p>
        </div>
    </div>
    <div class="login">
        <a href="View"><i class="fa-solid fa-user"></i></a>
    </div>
</header>
<section class="main" id="home">
    <div class="header2">
        <div class="header-wrapper">
            <div class="logo">
                <img src="images/l.png" width="65%">
            </div>

            <div class="list">
                <ul>
                    <li><a href="#home" id="a5">Home</a></li>
                    <li><a href="#Service">Services</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="hero">
        <div class="left">
            <h1>WE <em>BUILD</em> YOUR <em>DREAM</em></h1>
            <p>it is a long established fact that a reader will be distracted <em>by the reabdable content</em>.</p>
        </div>
        <div class="right">
            <div class="carre">
                <swiper-container class="mySwiper" direction="vertical" pagination="true" pagination-clickable="true" autoPlay="true">
                    <swiper-slide><img src="images/aa.jpg" alt=""></swiper-slide>
                </swiper-container>
            </div>
            <div class="carre2">
                <swiper-container class="mySwiper" direction="vertical" pagination="true" pagination-clickable="true" autoPlay="true">
                    <swiper-slide><img src="https://i.ibb.co/LP5BhCj/Adobe-Stock-283185674.jpg" alt=""></swiper-slide>
                    <swiper-slide><img src="https://i.ibb.co/bvqnwWj/Adobe-Stock-602461020.jpg" alt=""></swiper-slide>
                    <swiper-slide><img src="https://i.ibb.co/CJZZf4Q/Adobe-Stock-387867515.jpg" alt=""></swiper-slide>
                    <swiper-slide><img src="https://i.ibb.co/FH7McHX/Adobe-Stock-602461037.jpg" alt=""></swiper-slide>
                    <swiper-slide><img src="https://i.ibb.co/vhbhjqr/Adobe-Stock-629756205.jpg" alt=""></swiper-slide>
                    <swiper-slide><img src="https://i.ibb.co/sbWjbCD/Adobe-Stock-775963396.jpg" alt=""></swiper-slide>
                </swiper-container>
            </div>

        </div>
    </div>
</section>
<section class="Service" id="Service">
    <h1><em>Services</em></h1>

    <div class="service-wrapper" >
        <div class="card" id="card" data-aos="fade-up" data-aos-delay="400">
            <div class="img"><img src="https://i.ibb.co/Z6J5Xnx/pic1.jpg" width="100%" class="imm"></div>
            <div class="content">
                <h1>Construction <span><br> Engineering your dreams with us.</span></h1>
                <h2><i class="fa-solid fa-plus"></i></h2>
            </div>
        </div>
        <div class="card" id="card" data-aos="fade-up" data-aos-delay="400">
            <div class="img"><img src="https://i.ibb.co/3d40Tm1/pic2.jpg" width="100%" class="imm"></div>
            <div class="content">
                <h1>Construction <span><br> Engineering your dreams with us.</span></h1>
                <h2><i class="fa-solid fa-plus"></i></h2>
            </div>
        </div>
        <div class="card" id="card" data-aos="fade-up" data-aos-delay="400">
            <div class="img"><img src="https://i.ibb.co/nQg26WG/pic3.jpg" width="100%" class="imm"></div>
            <div class="content">
                <h1>Construction <span><br> Engineering your dreams with us.</span></h1>
                <h2><i class="fa-solid fa-plus"></i></h2>
            </div>
        </div>
        <div class="card1" id="card" data-aos="fade-up" data-aos-delay="400">
            <div class="mini-card" >
                <p>Building</p>
                <h1>It better in concrete.</h1>
                <h2>When it comes to your house, don’t mess with the rest, trust the best. Making your vision come true, that is what we do.</h2>
                <div class="buttons">
                    <a href="#" id="a1" class="a1"></a>
                    <a href="#" id="a2" class="a2"></a>
                    <a href="#" id="a3" class="a3">VIEW ALL</a>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section class="About" id="About">
    <h1>ABOUT <em> COMPANY</em></h1>
    <div class="about-wrapper">
        <div class="about-content">
            <h3>We Build, We Transform and We Connect</h3>
            <p>Do not be angry with the pain in the rebuke in the pleasure he wants to be a hair from the pain in the hope that there is no breeding. Unless they are blinded by lust, they do not come forth</p>
        </div>

        <div class="cards-about">

            <div class="card">
                <h2>About Us</h2>
                <p>At EcoBuilders, we are committed to providing high-quality construction solutions tailored to the specific needs of each client. With years of experience in the industry, we have developed solid expertise and a reputation for excellence. Our team of dedicated professionals works diligently to ensure complete customer satisfaction.</p>
            </div>
            <div class="card">
                <img src="" alt="" />
            </div>
            <div class="card">
                <h2>Our strategy </h2>
                <p>Our strategy is based on innovation, sustainability, and customer satisfaction. We use cutting-edge technologies and high-quality materials to ensure the longevity and performance of our projects. By working closely with our clients, we understand their needs and adapt our solutions to exceed their expectations. Transparency and open communication are at the heart of our approach.</p>
               </div>

            <div class="card">
                <img src=""  alt=""/>
            </div>
            <div class="card">
                <h2>Our Mission</h2>
                <p>Our mission is to transform your visions into reality by creating functional and aesthetic spaces that meet the highest standards in the construction industry. We strive to conduct each project with integrity, respect, and excellence, focusing on safety and sustainability. At EcoBuilders, we believe that every project is an opportunity to build strong, lasting relationships with our clients while positively contributing to our community.</p>
               </div>
            <div class="card">
                <img src=""  alt=""/>
            </div>
        </div>
    </div>
</section>


<!-- CONTACT -->
<section class="contact section" id="contact">
    <h1>CONTACT <em> US</em></h1>
    <div class="container">
        <div class="row" id="contact_row">

            <div class="ml-auto col-lg-5 col-md-6 col-12">
                <h2 class="mb-4 pb-2">Feel free to ask anything</h2>
                <form id="contact-form">
                    <input type="text" class="form-control" name="name" placeholder="Name" id="name" required>
                    <input type="email" class="form-control" name="email" placeholder="Email" id="email" required>
                    <textarea class="form-control" rows="5" name="message" placeholder="Message" id="message" required></textarea>
                    <button type="submit" class="form-control" id="submit-button" name="submit">Send Message</button>
                </form>
            </div>

            <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                <h2 class="mb-4" data-aos="fade-up" data-aos-delay="600">Where you can <span>find us</span></h2>

                <p data-aos="fade-up" data-aos-delay="800"><i class="fa fa-map-marker mr-1"></i> 120-240 Rio de Janeiro - State of Rio de Janeiro, Brazil</p>

                <div class="google-map" data-aos="fade-up" data-aos-delay="900">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7107.436939640732!2d-6.398073523565623!3d32.309717299805904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda387002b0c9c87%3A0x6d4727e8e3f7bb9a!2sENAA%2C%20ECOLE%20NUMERIQUE%20AHMED%20EL%20HANSALI!5e0!3m2!1sen!2sma!4v1718907113807!5m2!1sen!2sma" width="1920" height="250" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- FOOTER -->
<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="ml-auto col-lg-4 col-md-5">
                <p class="copyright-text">Copyright &copy; 2024 Se7aty.

                    <br>Design: <a href="">Se7aty</a></p>
            </div>

            <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                <p class="mr-4">
                    <i class="fa fa-envelope-o mr-1"></i>
                    <a href="#">ou.charafi@gmail.com</a>
                </p>

                <p><i class="fa fa-phone mr-1"></i> (+212) 628532671</p>
            </div>

        </div>
    </div>
</footer>




<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<script>
    document.querySelectorAll(".card").forEach((card) => {
        const imm = card.querySelector(".imm");
        const content = card.querySelector(".content");

        let check = true;

        card.addEventListener("mouseenter", () => {
            if (check) {
                imm.style.transition = "0.6s";
                imm.style.height = "300px";
                content.style.transition = "0.6s";
                content.style.height = "50px";
                check = false;
            }
        });

        card.addEventListener("mouseleave", () => {
            if (!check) {
                imm.style.transition = "0.6s";
                imm.style.height = "350px";
                content.style.transition = "0.6s";
                content.style.height = "0";
                check = true;
            }
        });
    });
    document.querySelectorAll(".buttons").forEach((btn) => {
        const a1 = btn.querySelector(".a1");
        const a2 = btn.querySelector(".a2");
        const a3 = btn.querySelector(".a3");
        let check = true;

        btn.addEventListener("mouseenter", () => {
            if (check) {
                a1.style.transition = ".6s"
                a1.style.width = "124px";
                a1.style.height = "44px";
                a2.style.transition = ".6s"
                a2.style.width = "124px";
                a2.style.height = "44px";
                a1.style.borderColor = "#EB1900"
                a2.style.borderColor = "#EB1900"
                a3.style.transition = ".6s";
                a3.style.background = "#EB1900";
                a3.style.color = "black"
                check = false;
            }
        });

        btn.addEventListener("mouseleave", () => {
            if (!check) {
                a1.style.transition = ".6s"
                a1.style.width = "44px";
                a1.style.height = "24px";
                a1.style.transition = ".6s"
                a1.style.borderColor = "black"
                a2.style.borderColor = "black"
                a2.style.width = "44px";
                a2.style.height = "24px";
                a3.style.background = "black";
                a3.style.color = "white"
                check = true;
            }
        });
    });

</script>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
